
:root {
  --bg-color: #FFFFFF;
  --display-color: #428bf0;
  --off-white: #e7f0fd;
  --light-green: #55f670;
  --button-green-hover: #1e680a;
  --button-green: rgb(10, 192, 10);
  --primary-blue: #0067b3;
  --light-blue: #007acc;
  --dark-gray: #333333;
  --light-gray: #F5F5F5;
  --white: #ffffff;
  --text-color: #292929;
  --hover-menu-color: #CCCCCC;
  
}
*{
  padding: 0;
  margin: 0;
}


p,h1,h2,h3{
  color: var(--text-color);
}